<div class="row p-5">
    <div class="col-6">
        <div class="row">
            <!-- <input [(ngModel)]="inputTask" type="text" class="form-control" placeholder="Enter Task"> -->
            <button (click)="submitInput()" class="btn btn-outline-success mt-3">Add</button>
        </div>
    </div>
    <div class="col-6">
        <ul class="list-group">

            <li class="list-group-item " *ngFor="let item of listTask" [ngClass]="{itemSuccess: item.status === true}">
                <div class="custom-item">
                    <div>
                        {{item.name}} <span *ngIf="item.status === true">(Complete)</span>
                    </div>
                    <div>
                        <i class="fa fa-check mx-2" (click)="changeTask(item.id)"></i>
                        <i class="fa fa-remove" (click)="deleteTask(item.id)"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>